<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=HOME-PC\HOMESERVER; Initial Catalog=Sklad_V1_002; User = Alexey; PWD=Dikuly_34; Integrated Security=True; Trusted_Connection=No"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>